<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=500, initial-scale=1">
  <title>KB X</title>
</head>

<body>

  <link rel="stylesheet" href="spectre.min.css">
  <link rel="stylesheet" href="spectre-icons.min.css">

  <style>
    .card {
      box-shadow: inset 0 .25rem 2rem rgba(48, 55, 66, .15);
    }

    ul li {
      line-height: 1.0;
    }

    .chip:hover {
      color: darkgreen;
    }
  </style>

  <div id="app">

    <div class="modal" id="modal-id" v-bind:class="{ active: modal_department >= 0 }">
      <a v-on:click="cancel_order" class="modal-overlay" aria-label="Close"></a>
      <div class="modal-container card">
        <div class="modal-header">
          <a v-on:click="cancel_order" class="btn btn-clear float-right" aria-label="Close"></a>
          <div class="modal-title h5">Приказ по отделу {{modal_department+1}}</div>
        </div>
        <div class="modal-body">
          <div class="content">
            <div class="form-group">
              <label class="form-label" for="task">Начать разработку</label>
              <select class="form-select" id="task" v-model="order_task">
                <option v-for="task, n1 in tasks" v-bind:value="n1">{{task.name}}</option>
              </select>
              <label class="form-label" for="project">Взяв за основу</label>
              <select class="form-select" id="project" v-model="order_project">
                <option value=-1>новый эскиз</option>
                <option v-for="project, n2 in archive" v-bind:value="n2">{{project.name}}</option>
              </select>
            </div>
            <button v-on:click="perform_order" class="btn btn-primary input-group-btn tooltip tooltip-right"
              data-tooltip="Снизит энтузиазм отдела">Подписать</button>
          </div>
        </div>
        <div class="modal-footer">
          ...
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column col-1"></div>
      <div class="column col-5">
        <div class="panel">
          <div class="panel-header text-center">
            <button v-on:click="reset" class="btn btn-error float-right">Restart</button>
            <!-- <figure class="avatar avatar-lg"></figure> -->
            <div class="panel-title h5 mt-10">КБ Х</div>
            <div class="panel-subtitle">День {{ day }}</div>
            <div class="panel-subtitle">Победный прогресс: {{victory}}%</div>
          </div>
          <nav class="panel-nav">
            <ul class="tab tab-block">
              <li class="tab-item c-hand" v-bind:class="{ active: page == 'production' }">
                <a v-on:click="page = 'production'">В серии</a></li>
              <li class="tab-item c-hand" v-bind:class="{ active: page == 'departments' }">
                <a v-on:click="page = 'departments'">Отделы</a></li>
              <li class="tab-item c-hand" v-bind:class="{ active: page == 'archive' }">
                <a v-on:click="page = 'archive'">Архив</a></li>
              <li class="tab-item c-hand" v-bind:class="{ active: page == 'nomenclature' }">
                <a v-on:click="page = 'nomenclature'">Номенклатура</a></li>
            </ul>
          </nav>
          <div class="panel-body">

            <!-- ------------------------------------- -->

            <div class="production" v-show="page == 'production'">

              <div class="accordion" v-for="product, index in production_info">
                <input type="radio" v-bind:id="'production'+index" name="accordion-radio" hidden>
                <label class="accordion-header" v-bind:for="'production'+index">
                  <div class="columns">
                    <div class="column col-4">
                      <i class="icon icon-arrow-right mr-1"></i>
                      {{ product.task.name }}
                    </div>
                    <div class="column text-bold">{{ product.project.name }}</div>
                    <div class="column text-bold">{{ product.efficiency }}</div>
                    <div class="column text-bold h4"
                      v-bind:class="task_color(product.enemy_efficiency, product.efficiency)">
                      {{ product.efficiency == product.enemy_efficiency ? "=" : (product.efficiency >= product.enemy_efficiency ? ">" : "<") }}
                    </div>
                    <div class="column col-2 text-bold text-error text-clip">{{ product.enemy_name }}</div>
                    <div class="column text-bold text-error">{{ product.enemy_efficiency }}</div>
                  </div>
                </label>
                <div class="accordion-body">
                  <ul class="column col-4 small">
                    <li v-for="item in product.task.details">{{item.text}}</li>
                  </ul>
                  <div class="card column" v-show="product.has_project">
                    <div class="card-header">
                      <div class="card-title h5"> {{ product.project.name }} </div>
                      <span class="chip"> {{ product.project.chassis }} </span>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-secondary float-right m-2" v-on:click="show_project(product.project_id)">
                        Показать проект</button>

                      <div class="columns col-gapless">
                        <div class="column col-4">эффективность</div>
                        <div class="column col-2">
                          <div align="right">{{ product.power }} </div>
                        </div>
                        <div class="column col-3">
                          <div class="bar" style="margin-top:5px;">
                            <div class="bar-item" v-bind:style="product.efficiency_bar"></div>
                          </div>
                        </div>
                      </div>

                      <div class="columns col-gapless">
                        <div class="column col-4">стоимость</div>
                        <div class="column col-2">
                          <div align="right">{{ product.project.cost }}</div>
                        </div>
                        <div class="column col-3">
                          <div class="bar" style="margin-top:5px;">
                            <div class="bar-item" v-bind:style="product.cost_bar"></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- ------------------------------------- -->

            <div class="departments" v-show="page == 'departments'">
              <div class="card" v-for="dep in departments_info">
                <div class="card-header">
                  <div class="card-title h5"> {{dep.name}}: {{ dep.task.name }} </div>
                </div>
                <div class="card-body ">
                  <div class="columns col-gapless">
                    <div class="column ">
                      {{ dep.project.name }}

                      <span class="popover popover-right">
                        <span class="chip">
                          {{ dep.project.chassis }}
                        </span>
                        <div class="popover-container">
                          <div class="card">
                            <div class="card-body">
                              <div>Модификаторы корпуса:
                                <span class="chip" v-for="item in find_device(dep.project.chassis).modifiers"
                                  v-bind:class="{ 'bg-success': item.positive, 'bg-error': !item.positive }">
                                  {{item.param}} {{item.value}}
                                </span></div>
                            </div>
                          </div>
                        </div>
                      </span>


                      <div class="columns col-gapless" style="max-width: 200px;">
                        <div class="column ">Энтузиазм</div>
                        <div class="column">
                          <div align="right">{{ dep.enthusiasm }}% </div>
                        </div>
                        <div class="column col-mr-auto">
                          <div class="bar" style="margin-top:5px;">
                            <div class="bar-item" v-bind:style="dep.enthusiasm_bar"></div>
                          </div>
                        </div>
                      </div>
                      <div class="columns col-gapless" style="max-width: 200px;" v-show="dep.has_project">
                        <div class="column ">Прогресс</div>
                        <div class="column ">
                          <div align="right">{{ dep.project.progress }}% </div>
                        </div>
                        <div class="column ">
                          <div class="bar" style="margin-top:5px;">
                            <div class="bar-item" v-bind:style="dep.progress_bar"></div>
                          </div>
                        </div>
                      </div>
                      <div class="columns col-gapless" style="max-width: 200px"
                        v-show="dep.has_project && !dep.project.progressing">
                        <div class="column ">Проблемы</div>
                        <div class="column">
                          <div align="right">{{ dep.project.questions }} из 10 </div>
                        </div>
                        <div class="column col-mr-auto">
                          <div class="bar" style="margin-top:5px;">
                            <div class="bar-item" v-bind:style="dep.questions_bar"></div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="column ">
                      <li v-for="item in dep.task.details">{{item.text}}
                        <span v-bind:class="task_color(item.value, find_param(dep.project, item.param))"
                          v-show="dep.has_project"><b>( {{find_param(dep.project, item.param)}} )</b></span>
                    </div>

                    <div class="column col-2 col-mr-auto">
                      <button class="btn btn-primary" v-on:click="show_order(dep)">Отдать
                        приказ</button>
                      <button class="btn btn-secondary" v-show=" dep.has_project"
                        v-on:click="show_project(dep.project_id)">Открыть
                        проект</button>
                    </div>

                  </div>


                </div>
              </div>
            </div>

            <!-- ------------------------------------- -->

            <div class="archive" v-show="page == 'archive'">

              <div class="accordion" v-for="project, index2 in archive">
                <input type="radio" v-bind:id="index2" name="archive-radio" hidden v-bind:value="index2"
                  v-model="sel_project">
                <label class="accordion-header" v-bind:for="index2">
                  <i class="icon icon-arrow-right mr-1"> </i>
                  <span class="h5"> {{ project.name }} </span>
                </label>
                <div class="accordion-body">
                  <!-- Accordions content -->

                  <div class="card">
                    <div class="card-header">
                      <div class="card-title h5"> {{ project.name }} </div>
                      <div class="card-subtitle text-gray">
                        {{project.complete ? 'День рождения: '+project.day+' Наград: '+project.victory : 'Прогресс '+project.progress+'%'}}
                      </div>
                    </div>
                    <div class="card-body">
                      Характеристики:<br>
                      <ul>
                        <li v-for="item in project.params" v-bind:style="{color: param_color(item)}">{{item.param}}:
                          {{param_value(item)}}</li>
                      </ul>
                      <div>Модификаторы проекта:</div>
                      <span class="chip" v-for="item in project.proj_modifiers"
                        v-bind:class="{ 'bg-success': item.positive, 'bg-error': !item.positive }">
                        {{item.param}} {{item.value}}
                      </span>
                      <div>Модификаторы корпуса:</div>
                      <span class="chip" v-for="item in project.chassis_modifiers"
                        v-bind:class="{ 'bg-success': item.positive, 'bg-error': !item.positive }">
                        {{item.param}} {{item.value}}
                      </span>
                      <div>Компоненты:</div>
                      <span class="popover" v-for="device in project.devices">
                        <span class="chip">
                          <div class="badge" v-bind:data-badge="device.count"
                            style="margin-top: 20px;position: relative;" v-show="device.count != ''">
                          </div>{{device.name}}

                          <div class="popover-container" style="left: 100%;">
                            <div class="card">
                              <div class="card-body">
                                <ul>
                                  <li v-for="item2 in find_device(device.name).params">{{item2.param}}:
                                    {{item2.max ? ""+item2.value + " (из "+item2.max+")" : item2.value}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>


                        </span>
                      </span>
                    </div>
                  </div>


                  <!-- Accordions content -->

                </div>
              </div>

            </div>


            <!-- ------------------------------------- -->

            <div class="nomenclature" v-show="page == 'nomenclature'">
              <details class="accordion" v-for="slot in nomenclature" open="">
                <summary class="accordion-header">
                  <i class="icon icon-arrow-right mr-1"> </i>
                  <span class="h5"> {{ slot.name }} </span>
                </summary>
                <div class="accordion-body">
                  <div class="panel">
                    <div class="panel-body">

                      <details class="accordion" v-for="device in slot.list">
                        <summary class="accordion-header">
                          <i class="icon icon-arrow-right mr-1"> </i>
                          <span class="h5"> {{ device.name }} </span>
                        </summary>
                        <div class="accordion-body">
                          <div class="card">
                            <div class="card-header">
                              <div class="card-title h5"> {{ device.name }} </div>
                              <div class="card-subtitle text-gray">
                                Технология: {{device.line}}, стабильность устройства {{device.stability}}% </div>
                            </div>
                            <div class="card-body">
                              Характеристики:<br>
                              <ul>
                                <li v-for="item in device.params">{{item.param}}:
                                  {{item.max ? ""+item.value + " (из "+item.max+")" : item.value}}</li>
                              </ul>
                              <div v-show=" device.modifiers">Модификаторы корпуса:
                                <span class="chip" v-for="item in device.modifiers"
                                  v-bind:class="{ 'bg-success': item.positive, 'bg-error': !item.positive }">
                                  {{item.param}} {{item.value}}
                                </span></div>
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </details>
            </div>


          </div>
        </div>
      </div>


      <div class="column col-6 col-xs-12">
        <div class="panel">
          <div class="panel-header">
            <button v-on:click="next_day" class="btn btn-primary input-group-btn"
              v-bind:class="{loading: waiting}">Следующий день</button>
            <button v-on:click="next_week" class="btn btn-primary input-group-btn"
              v-bind:class="{loading: waiting}">Ждать неделю</button>
            <div class="panel-title h3">События, день {{ day }}:</div>
          </div>
          <div class="panel-body">
            <div class="tile" v-for="event in news">
              <div class="tile-icon">
                <figure class="avatar"><i class="icon icon-2x icon-location" v-bind:class="'bg-'+event.color"></i>
                </figure>
              </div>
              <div class="tile-content">
                <p class="tile-title text-bold">{{event.origin}}:</p>
                <p class="tile-subtitle">{{event.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="vue.min.js"></script>
  <script src="app.js"></script>


</body>

</html>